

.music-item {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s ease;
  align-items: center; /* Ajout pour aligner verticalement */
}

.music-item:last-child {
  border-bottom: none;
}

.left-content {
  flex: 1;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333; /* Titre en noir pour contraster avec le fond */
}

.artist {
  font-size: 14px;
  color: #666; /* Couleur légèrement plus foncée */
}

.play-container {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center; /* Centrer le contenu */
}

.play-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 24px;
  color: #4CAF50;
  margin-right: 10px;
  transition: transform 0.2s ease;
}


.time {
  font-size: 14px;
  color: #666;
}
.volume-container {
  width: 150px; /* Ajustement de la largeur */
  margin-left: 20px; /* Ajout d'espace entre les deux parties */
  display: flex;
  align-items: center;
}

.volume-bar {
  width: 100%;
  height: 8px; /* Ajustement de la hauteur */
  background-color: #f0f0f0;
  border-radius: 4px;
  cursor: pointer;
}

.volume-level {
  height: 100%;
  background-color: #4CAF50;
  border-radius: 4px;
  width: 50%; /* Par défaut, la moitié de la barre */
}

.volume-bar::-webkit-slider-thumb {
  appearance: none; /* Masquer le style par défaut de la poignée */
  width: 16px;
  height: 16px;
  border-radius: 50%; /* Pour une forme de cercle */
  background-color: #4CAF50; /* Couleur de la poignée */
  cursor: pointer; /* Afficher le curseur de la souris lorsqu'il est survolé */
}

.volume-bar::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #4CAF50;
  cursor: pointer;
}
.audio-container {
  display: none; /* Cacher l'élément audio par défaut */
}
.spinner-border {
  border: 2px solid #4CAF50; /* Couleur de bordure similaire à celle du bouton play */
  border-top-color: transparent; /* Pour créer un spinner */
  border-radius: 50%; /* Pour obtenir une forme ronde */
  width: 24px; /* Taille similaire à celle du bouton play */
  height: 24px; /* Taille similaire à celle du bouton play */
  margin-right: 8px; /* Réduire légèrement la marge à droite */
  margin-bottom: 2px; /* Déplacer légèrement vers le bas */
  margin-left: 2px; /* Déplacer légèrement vers la gauche */
  animation: spin 1s linear infinite; /* Animation de rotation */
}


@keyframes spin {
  to {
    transform: rotate(360deg); /* Rotation complète */
  }
}
.current-playing-music {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.current-playing-music::before {
  content: '▶';
  margin-right: 5px;
}

.current-playing-music span {
  font-weight: bold;
  margin-left: 5px;
}
.action-icons {
  display: flex;
  align-items: center;
}

.action-icon {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
  outline: none;
  font-size: 14px;
  color: #333;
  transition: transform 0.2s ease;
}

.action-icon:hover {
  transform: scale(1.00);
}

.edit-icon::after {
  content: "✎";
}

.delete-icon::after {
  content: "❌";
}
.stop-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 24px;
  color: #4CAF50; /* Changement de couleur en vert */
  margin-right: 10px;
  transition: transform 0.2s ease;
}

.stop-btn:hover {
  transform: scale(1); /* Retrait de l'effet de survol */
}
@media screen and (max-width: 768px) {
  .music-item {
    display: flex;
    flex-wrap: wrap;
    padding: 10px; /* Réduire l'espacement */
    border-bottom: 1px solid #eee;
    align-items: center;
  }

  .left-content {
    flex: 1;
    min-width: 0;
  }

  .title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
    color: #333;
  }

  .artist {
    font-size: 12px;
    color: #666;
  }

  .play-container {
    display: flex;
    align-items: center;
    margin-top: 3px;
    flex-basis: 100%;
  }

  .play-btn,
  .stop-btn {
    font-size: 16px;
    margin-right: 3px;
  }

  .volume-container {
    width: 100%;
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .volume-bar {
    width: 100px;
    height: 3px;
  }

  .action-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    flex-basis: 100%;
  }

  .action-icon {
    font-size: 12px;
    margin-left: 3px;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal.open {
  display: block;
}
.input-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.input-container input {
  padding: 10px;
  background-color: rgba(240, 240, 240, 0.7);
  color: #333;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
}

.input-container input:hover {
  background-color: rgba(221, 221, 221, 0.7);
}
.upload-btn {
  padding: 10px 20px; /* Réduction de la taille du padding */
  background-color: rgba(240, 240, 240, 0.7);
  color: #333;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px; /* Augmentation de la taille de la police */
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 200px; /* Réduction de la largeur maximale */
  }
  label {
    display: block; /* Pour afficher les labels sur une nouvelle ligne */
    margin-bottom: 5px; /* Ajoute un espacement en bas */
    font-size: 16px; /* Taille de la police */
    color: #333; /* Couleur du texte */
  }

  /* Style pour les labels spécifiques dans le formulaire */
  .form-group label {
    font-weight: bold; /* Met en gras */
  }

  .input-container label {
    display: none; /* Cache les labels à l'intérieur des input-container */
  }
  @media screen and (max-width: 768px) {
    .modal-content {
      width: 90%; /* Ajuster la largeur du contenu de la modale pour les petits écrans */
      margin: 10% auto; /* Ajuster la marge pour centrer la modale */
      padding: 15px; /* Réduire le rembourrage pour un aspect plus compact */
    }
    .input-container {
      flex-direction: column; /* Aligner les éléments verticalement sur les petits écrans */
      align-items: center; /* Centrer les éléments horizontalement */
    }

    .input-container input,
    .upload-btn {
      width: 100%; /* Prendre toute la largeur disponible */
      max-width: none; /* Annuler la largeur maximale */
      margin-bottom: 10px; /* Espacement entre les éléments */
    }
  }
